.header{
    width: 100%;
    background-color: var( --secondary-color);
    display: flex;
    align-items: center;
    justify-content:center;
}
.header a{
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content:center;
}

.header img{
    width: 8%;
}
