.tableContainer{
    width: 90%;

}

.cardTableContainer{
    display: flex;
    justify-content:space-evenly;
}

.cardContainer{
    width: 15%;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
    text-align: center;
    padding: 1rem;
}


.tittleRow{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.textInfo{
    text-align: center;
    font-size: 16px;
}

.icons{
    text-align: center;
}