.main {
  background-image: url('/img/ornament-bg.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 25%;
  display: flex;
  gap: 3rem;
  height: calc(100vh - 25.2rem);
  justify-content: center;
  margin: 8rem auto;
  max-width: 1440px;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

h1.titleWithOrnament {
  display: flex;
  gap: 1rem;
  justify-content: center;
  min-width: 690px;
}

.section p {
  text-align: center;
}

.sakuraOrnament {
  max-height: 60px;
  max-width: 55px;
  width: 100%;
}

@media (max-width: 1120px) {
  .main {
    background-position: center;
    background-size: 55%;
  }
  .aside {
    display: none;
  }

  h1.titleWithOrnament {
    min-width: auto;
  }
}
