.main {
  width: 100vw;
  background-image: url('/img/ornament-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  min-height: calc(100vh - 25.2rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

h1.titleWithOrnament {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
  min-width: 690px;
}

.sakuraOrnament {
  max-height: 60px;
  max-width: 55px;
  width: 100%;
}


.buttonsContainer {
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  h1.titleWithOrnament {
    min-width: auto;
  }

  .buttonsContainer {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
  }
}
