.main {
  background-image: url('/img/ornament-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  margin: 2rem auto 10rem;
  max-width: 1440px;
  min-height: calc(100vh - 25.2rem);
}

h1.titleWithOrnament {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 4rem;
  min-width: 690px;
}

.sakuraOrnament {
  max-height: 60px;
  max-width: 55px;
  width: 100%;
}

.main h2 {
  margin-bottom: 3rem;
}

.buttonsContainer {
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  h1.titleWithOrnament {
    min-width: auto;
  }

  .buttonsContainer {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
  }
}
